<nav class="navbar navbar-default page-navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand page-scroll" href="#intro">Dongoks Family</a>
		</div>

		<div class="collapse navbar-collapse pull-right" id="navbarCollapse">
			<ul class="nav navbar-nav">
				<li><a class="page-scroll" href="#intro">Intro</a></li>
				<li><a class="page-scroll" href="#journey">Journey</a></li>
				<li><a class="page-scroll" href="#destination">Destination</a></li>
				<li><a class="page-scroll" href="#member">Member</a></li>
				<li><a class="page-scroll" href="#closing">Closing</a></li>
			</ul>
		</div>
	</div>
</nav>