<section id="destination" class="style-matcher">
	<div class="container">
		<div class="section-title wow fadeInUp" data-wow-offset="10" data-wow-duration="1s">
			<h1>Our Destination</h1>
			<div class="section-caption">
				<p>Nah temen-temen kita lanjut ke bagian tujuan wisata kita, dibawah ini gua lampirkan map dari tujuan kita dan gua udah kasih pin mungkin buat kalian yg pengen tau estimasi perjalanan berapa lama silahkan coba sendiri di google maps. Jauh emang tujuannya tapi disana masih asri dan cocok untuk refreshing, sekali-kali gue pengen main yang jauh bareng kalian soalnya sejauh ini paling jauh ke Karawang doang. Huehehe..</p>
			</div>
		</div>

		<div class="section-content">
			<div class="map wow fadeInUp">
				<iframe class="gmaps" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d716751.0224707592!2d108.2955683653607!3d-7.064678220558865!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zN8KwMDInMjEuNyJTIDEwOMKwMzcnNDEuNyJF!5e0!3m2!1sen!2sid!4v1516950232037" allowfullscreen></iframe>
			</div>

			<div class="gallery-wisata kuningan">
				<div class="gallery-title">
					<h2 class="wow fadeInUp" data-wow-offset="10" data-wow-duration="1s">Wisata Kota Kuningan</h2>
				</div>
				<div class="portfolio-grid gallery-kuningan">
					<div class="row slick-mobile-kuningan">
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-4 wow fadeIn" data-wow-offset="10" data-wow-duration="2s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/situ-cicerem.jpg" title="Situ Cicerem">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/situ-cicerem.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Situ Cicerem</h5>
		                                        <p>Situ dengan dengan air yang berwarna biru</p>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-4 wow fadeIn" data-wow-offset="10" data-wow-duration="2s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/curug-putri.jpg" title="Curug Putri Palutungan">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/curug-putri.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Curug Putri Palutungan</h5>
		                                        <p>Hutan pinus disertai air terjun yg bagus, airnya jernih dan dingin</p>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-4 wow fadeIn" data-wow-offset="10" data-wow-duration="2s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/curug-cilengkrang.jpg" title="Curug Cilengkrang">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/curug-cilengkrang.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Curug Cilengkrang</h5>
		                                        <p>Lokasinya dibawah kaki gunung ciremai, ada kolam air panas yg alami dan air terjun</p>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-4 wow fadeIn" data-wow-offset="10" data-wow-duration="2s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/waduk-darma.jpg" title="Portfolio Image 03">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/waduk-darma.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Simple Portfolio Title</h5>
		                                        <p>Landscape</p>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-4 wow fadeIn" data-wow-offset="10" data-wow-duration="2s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/sawah.jpg" title="Portfolio Image 03">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/sawah.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Simple Portfolio Title</h5>
		                                        <p>Landscape</p>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-4 wow fadeIn" data-wow-offset="10" data-wow-duration="2s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/sawah.jpg" title="Portfolio Image 03">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/sawah.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Simple Portfolio Title</h5>
		                                        <p>Landscape</p>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
					</div>
				</div>				
			</div>
			<div class="gallery-wisata pangandaran">
				<div class="gallery-title">
					<h2>Wisata Pangandaran</h2>
					<!-- <span>*Optional</span> -->
				</div>
				<div class="portfolio-grid gallery-pangandaran">
					<div class="row slick-mobile-pangandaran">
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-4 wow fadeIn" data-wow-offset="10" data-wow-duration="2s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/sawah.jpg" title="Portfolio Image 01">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/sawah.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Simple Portfolio Title</h5>
		                                        <p>Landscape</p>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-4 wow fadeIn" data-wow-offset="10" data-wow-duration="2s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/sawah.jpg" title="Portfolio Image 02">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/sawah.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Simple Portfolio Title</h5>
		                                        <p>Landscape</p>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-4 wow fadeIn" data-wow-offset="10" data-wow-duration="2s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/sawah.jpg" title="Portfolio Image 03">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/sawah.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Simple Portfolio Title</h5>
		                                        <p>Landscape</p>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-4 wow fadeIn" data-wow-offset="10" data-wow-duration="2s">
		                    <div class="portfolio-box">
								<a href="#test-popup" class="open-popup-link porfolio-popup gallery-popup-link">
		                            <div class="portfolio-image-wrap">
		                                <img src="assets/img/situ-cicerem.jpg" alt="" class="img-responsive" alt=""/>
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Simple Portfolio Title</h5>
		                                        <p>Landscape</p>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
								<div id="test-popup" class="white-popup mfp-hide">
									<div class="popup-item">
										<div class="img-slider">
											<img src="https://kiwiranto.github.io/dongoks-vacation/assets/img/situ-cicerem.jpg" alt="" class="img-responsive">
											<img src="https://kiwiranto.github.io/dongoks-vacation/assets/img/curug-putri.jpg" alt="" class="img-responsive">
											<img src="https://kiwiranto.github.io/dongoks-vacation/assets/img/situ-cicerem.jpg" alt="" class="img-responsive">
										</div>
										<div class="popup-caption">
											<h3>lorem ipsum</h3>
											<p>lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor lorem ipsum dolor </p>
										</div>
									</div>
								</div>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
					</div>
				</div>
			</div>
		</div>

	</div>

	</div>
</section>