<section id="closing" class="style-matcher">
	<div class="container">
		<div class="section-title wow fadeIn" data-wow-offset="5">
			<h1>Closing</h1>
			<div class="section-caption">
				<p>Oke kayanya cukup sekian penjelasan mengenai event jalan-jalan ini, jadi itu aja yang bisa gua sampaikan untuk sekarang ini. Ada beberapa hal yang pengen gua diskusikan ke kalian tapi untuk yang ini gue perlu ketemu untuk diskusi langsung, siapa tau kalian punya ide dan masukan buat event kali ini. Kalo kalian ada yang masih bingung atau ada yang pengen ditanyakan silahkan jangan sungkan chat di grup <strong>Dongoks Reborn</strong> yang udah gue buat. Semoga diskusi disana bisa aktif dan semuanya bisa ikut berkontribusi disana. Gue harap banyak dari kalian yang bisa ikut supaya event liburan ini jadi lebih menyenangkan.</p>
			</div>
		</div>

		<div class="section-content wow fadeIn" data-wow-offset="5">
			<h2>Our Memory</h2>
			<p>Disini sedikit gue masukin beberapa kenangan kebersamaan kita di masa lalu, mungkin ini bisa jadi pemicu semangat buat bersama lagi meskipun kita udah punya kesibukan masing-masing. Dulu kita pernah sedekat ini loh banyak kenangan yang pernah kita lalui bersama, yuk kita tambah lagi kenangan menyenangkan lainnya jangan sampai berhenti disini aja. ;)</p>
			<div class="row gallery">
				<div class="col-sm-12 wow fadeIn" data-wow-offset="5">
					<h3>Masa Kuliah</h3>
					<div class="row gallery-memory">
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/kuliah/boyband.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/kuliah/kota-tua.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/kuliah/sidang-febi.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/kuliah/sidang-sarjana-1.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/kuliah/sidang-sarjana-2.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/kuliah/sidang-sarjana-3.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/kuliah/sidang-sarjana-4.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/kuliah/sidang-wiranto.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/kuliah/sidang-sarjana-5.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/kuliah/kebun-raya.jpg"></div>
					</div>
				</div>
				<div class="col-sm-12 wow fadeIn" data-wow-offset="5">
					<h3>Kebun Teh Gunung Mas Puncak</h3>
					<div class="row gallery-memory">
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/puncak/puncak-1.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/puncak/puncak-2.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/puncak/puncak-3.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/puncak/puncak-4.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/puncak/puncak-5.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/puncak/puncak-6.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/puncak/puncak-7.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/puncak/puncak-8.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/puncak/puncak-9.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/puncak/puncak-10.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/puncak/puncak-11.jpg"></div>
					</div>
				</div>
				<div class="col-sm-12 wow fadeIn" data-wow-offset="5">
					<h3>Pulau Pari</h3>
					<div class="row gallery-memory">
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/pari/pari-island-1.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/pari/pari-island-2.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/pari/pari-island-3.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/pari/pari-island-4.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/pari/pari-island-5.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/pari/pari-island-6.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/pari/pari-island-7.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/pari/pari-island-8.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/pari/pari-island-9.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/pari/pari-island-10.jpg"></div>
						<div class="col-xs-4 gallery-item"><img class="img-responsive" src="assets/img/pari/pari-island-11.jpg"></div>
					</div>
				</div>
				<div class="col-sm-12 wow fadeIn" data-wow-offset="5">
					<h3>Video</h3>
					<div class="row video-memory wow fadeIn" data-wow-offset="5">
						<div class="col-md-6 gallery-item">
							<iframe src="https://www.youtube.com/embed/0MAJldvUgHA" frameborder="0" encrypted-media" allowfullscreen></iframe>
						</div>
						<div class="col-md-6 gallery-item">
							<iframe src="https://www.youtube.com/embed/bcILCuOz0d8" frameborder="0" encrypted-media" allowfullscreen></iframe>
						</div>
						<div class="col-md-6 gallery-item">
							<iframe src="https://www.youtube.com/embed/pdFnyusUc58" frameborder="0" encrypted-media" allowfullscreen></iframe>
						</div>
						<div class="col-md-6 gallery-item">
							<iframe src="https://www.youtube.com/embed/usAYWzhB6g0" frameborder="0" encrypted-media" allowfullscreen></iframe>
						</div>
						<div class="col-md-6 col-md-offset-3 gallery-item">
							<iframe src="https://www.youtube.com/embed/NyIlm2vC2QE" frameborder="0" encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>