<section id="destination" class="style-matcher">
	<div class="container">
		<div class="section-title wow fadeInUp" data-wow-offset="10" data-wow-duration="1s">
			<h1>Our Destination</h1>
			<div class="section-caption">
				<p>Nah temen-temen kita lanjut ke bagian tujuan wisata kita, dibawah ini gua lampirkan map dari tujuan kita dan gua udah kasih pin mungkin buat kalian yg pengen tau estimasi perjalanan berapa lama silahkan coba sendiri di google maps. Jauh emang tujuannya tapi disana masih asri dan cocok untuk refreshing, sekali-kali gue pengen main yang jauh bareng kalian soalnya sejauh ini paling jauh ke Karawang doang. Huehehe..</p>
			</div>
		</div>

		<div class="section-content">
			<div class="map wow fadeInUp">
				<iframe class="gmaps" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d716751.0224707592!2d108.2955683653607!3d-7.064678220558865!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zN8KwMDInMjEuNyJTIDEwOMKwMzcnNDEuNyJF!5e0!3m2!1sen!1sid!4v1516950232037" allowfullscreen></iframe>
			</div>

			<div class="gallery-wisata kuningan">
				<div class="gallery-title">
					<h2 class="wow fadeInUp" data-wow-offset="10" data-wow-duration="1s">Wisata Kuningan</h2>
				</div>
				<div class="portfolio-grid gallery-kuningan">
					<div class="row slick-mobile-kuningan">
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/buper-palutungan-1.jpg" title="Bumi Perkemahan Palutungan 1">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/buper-palutungan-1.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Bumi Perkemahan Palutungan 2</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/buper-palutungan-2.jpg" title="Bumi Perkemahan Palutungan 2">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/buper-palutungan-2.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Bumi Perkemahan Palutungan 2</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/buper-palutungan-3.jpg" title="Bumi Perkemahan Palutungan 3">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/buper-palutungan-3.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Bumi Perkemahan Palutungan 3</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/buper-palutungan-4.jpg" title="Bumi Perkemahan Palutungan 4">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/buper-palutungan-4.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Bumi Perkemahan Palutungan 4</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/buper-palutungan-5.jpg" title="Bumi Perkemahan Palutungan 5">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/buper-palutungan-5.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Bumi Perkemahan Palutungan 5</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/lembah-cilengkrang-1.jpg" title="Lembah Cilengkrang 1">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/lembah-cilengkrang-1.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Lembah Cilengkrang 1</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/lembah-cilengkrang-2.jpg" title="Lembah Cilengkrang 2">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/lembah-cilengkrang-2.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Lembah Cilengkrang 2</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/lembah-cilengkrang-3.jpg" title="Lembah Cilengkrang 3">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/lembah-cilengkrang-3.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Lembah Cilengkrang 3</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/lembah-cilengkrang-4.jpg" title="Lembah Cilengkrang 4">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/lembah-cilengkrang-4.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Lembah Cilengkrang 4</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/talaga-remis-1.jpg" title="Talaga Remis 1">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/talaga-remis-1.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Talaga Remis 1</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/talaga-remis-2.jpg" title="Talaga Remis 2">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/talaga-remis-2.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Talaga Remis 2</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/talaga-remis-3.jpg" title="Talaga Remis 3">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/talaga-remis-3.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Talaga Remis 3</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/talaga-remis-4.jpg" title="Talaga Remis 4">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/talaga-remis-4.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Talaga Remis 4</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/taman-kota-kuningan-1.jpg" title="Taman Kota Kuningan 1">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/taman-kota-kuningan-1.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Taman Kota Kuningan 1</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/taman-kota-kuningan-2.jpg" title="Taman Kota Kuningan 2">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/taman-kota-kuningan-2.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Taman Kota Kuningan 2</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/taman-kota-kuningan-3.jpg" title="Taman Kota Kuningan 3">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/taman-kota-kuningan-3.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Taman Kota Kuningan 3</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/taman-kota-kuningan-4.jpg" title="Taman Kota Kuningan 4">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/taman-kota-kuningan-4.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Taman Kota Kuningan 4</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/telaga-biru-cicerem-1.jpg" title="Telaga Biru Cicerem 1">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/telaga-biru-cicerem-1.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Telaga Biru Cicerem 1</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/telaga-biru-cicerem-2.jpg" title="Telaga Biru Cicerem 2">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/telaga-biru-cicerem-2.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Telaga Biru Cicerem 2</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/telaga-biru-cicerem-3.jpg" title="Telaga Biru Cicerem 3">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/telaga-biru-cicerem-3.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Telaga Biru Cicerem 3</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/telaga-biru-cicerem-4.jpg" title="Telaga Biru Cicerem 4">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/telaga-biru-cicerem-4.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Telaga Biru Cicerem 4</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/telaga-biru-cicerem-5.jpg" title="Telaga Biru Cicerem 5">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/telaga-biru-cicerem-5.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Telaga Biru Cicerem 5</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/bukit-panembongan-1.jpg" title="Bukit Panembongan 1">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/bukit-panembongan-1.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Bukit Panembongan 1</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/bukit-panembongan-2.jpg" title="Bukit Panembongan 2">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/bukit-panembongan-2.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Bukit Panembongan 2</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/bukit-panembongan-3.jpg" title="Bukit Panembongan 3">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/bukit-panembongan-3.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Bukit Panembongan 3</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/bukit-panembongan-4.jpg" title="Bukit Panembongan 4">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/bukit-panembongan-4.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Bukit Panembongan 4</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/bukit-panembongan-5.jpg" title="Bukit Panembongan 5">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/bukit-panembongan-5.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Bukit Panembongan 5</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/sawah.jpg" title="Pematang Sawah">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/sawah.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Pematang Sawah</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
					</div>
				</div>
			</div>
			<div class="another-idea">
				<h2>Another Idea</h2>
				<p>Hmmm.. Gue emang pengen banget ngajak kalian main ke kuningan tapi di lain sisi gue pengen ke <strong>Grand Canyon Pangandaran.</strong> Cuman sebelumnya gue pengen ngajak diskusi kalian dulu enaknya kita ngobrolin dulu bareng-bareng. Kalo di Kuningan kita bisa menikmasri wisata alam pegunungan, kalo ke Grand Canyon kita bakal menikmati wisata pantai dan Laut. Dan mungkin cost biaya perjalanan akan nambah lagi soalnya kita perlu sewa penginapan. Dibawah gua kasi sedikit opsi apa aja wisata yang ada di Pangandaran, sumbernya berdasarkan <a href="https://phinemo.com/7-tempat-wisata-alam-di-pangandaran/">artikel ini</a>.</p>
			</div>
			<div class="gallery-wisata pangandaran">
				<div class="gallery-title">
					<h2>Wisata Pangandaran Grand Canyon</h2>
				</div>
				<div class="portfolio-grid gallery-pangandaran">
					<div class="row slick-mobile-pangandaran">
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/pangandaran-1.jpg" title="Ppangandaran 1">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/pangandaran-1.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Pangandaran 1</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/pangandaran-2.jpg" title="Ppangandaran 2">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/pangandaran-2.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Pangandaran 2</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/pangandaran-3.jpg" title="Ppangandaran 3">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/pangandaran-3.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Pangandaran 3</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/pangandaran-4.jpg" title="Ppangandaran 4">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/pangandaran-4.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Pangandaran 4</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/pangandaran-5.jpg" title="Ppangandaran 5">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/pangandaran-5.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Pangandaran 5</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/pangandaran-6.jpg" title="Ppangandaran 6">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/pangandaran-6.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Pangandaran 6</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/pangandaran-7.jpg" title="Ppangandaran 7">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/pangandaran-7.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Pangandaran 7</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/pangandaran-8.jpg" title="Ppangandaran 8">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/pangandaran-8.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Pangandaran 8</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/pangandaran-9.jpg" title="Ppangandaran 9">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/pangandaran-9.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Pangandaran 9</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/pangandaran-10.jpg" title="Ppangandaran 10">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/pangandaran-10.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Pangandaran 10</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/pangandaran-11.jpg" title="Ppangandaran 11">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/pangandaran-11.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Pangandaran 11</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
		                <!-- Portfolio Item -->
		                <div class="portfolio-item col-md-3 wow fadeIn" data-wow-offset="10" data-wow-duration="1s">
		                    <div class="portfolio-box">
		                        <a class="porfolio-popup gallery-popup-link" href="assets/img/pangandaran-12.jpg" title="Ppangandaran 12">
		                            <div class="portfolio-image-wrap">
		                                <img class="img-responsive" src="assets/img/pangandaran-12.jpg" alt="" />
		                            </div>
		                            <div class="portfolio-caption-mask">
		                                <div class="portfolio-caption-text">
		                                    <div class="portfolio-caption-tb-cell">
		                                        <h5 class="alt-title">Pangandaran 12</h5>
		                                    </div>
		                                </div>
		                            </div>
		                        </a>
		                    </div>
		                </div>
		                <!-- End Portfolio Item -->
					</div>
				</div>
			</div>
		</div>

	</div>

	</div>
</section>