<section id="member" class="style-matcher">
	<div class="container">
		<div class="section-title wow fadeInUp" data-wow-offset="10" data-wow-duration="1s">
			<h1>Member Invitation</h1>
			<div class="section-caption">
				<p>Gua bikin website ini sebenernya sebagai invitation buat kalian, nah dibawah ini member <strong>Dongoks</strong> yang gua kasih invitation ini. Karena menurut gua kalian dibawah ini kayanya berminat untuk ikut dalam event ini. Kalo ada yang pengen bawa pasangan buat ikut liburan silahkan banget, sekalian kenalin pasangannya ke kita.</p>
			</div>
		</div>

		<div class="section-content">
			<div class="profile-member">
				<div class="member-invitation">
					<div class="row">
						<div class="col-sm-3 col-xs-6">
							<div class="profile-box">
								<a href="https://www.instagram.com/andyramadhan94/?hl=en">
									<figure>
										<img class="img-responsive" src="https://scontent-sin6-1.cdninstagram.com/vp/72f2a474c8632d59ef4d3fc4519b6243/5B1A41BC/t51.2885-19/s150x150/17127268_406611269717654_7759708746439196672_a.jpg" alt="">
										<figcaption>
											<h5>Andy Ramadhan</h5>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="profile-box">
								<a href="https://www.instagram.com/wulan.darren/?hl=en">
									<figure>
										<img class="img-responsive" src="https://scontent-sin6-1.cdninstagram.com/vp/a37e4138a8b756de01d251451b603720/5B04D562/t51.2885-19/s150x150/26282460_2174815872746122_2280445115245789184_n.jpg" alt="">
										<figcaption>
											<h5>Wulan Sitti R</h5>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="profile-box">
								<a href="https://www.instagram.com/zunazona/?hl=en">
									<figure>
										<img class="img-responsive" src="https://scontent-sin6-1.cdninstagram.com/vp/96992a75315f3f6be5a0d1bf8ed21fbe/5B014268/t51.2885-19/s150x150/13181365_984550244946948_1019811883_a.jpg" alt="">
										<figcaption>
											<h5>Arif Arizona</h5>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="profile-box">
								<a href="https://www.instagram.com/thitispuspa/?hl=en">
									<figure>
										<img class="img-responsive" src="https://scontent-sin6-1.cdninstagram.com/vp/c5103fb7b0cef29330fe2f091cb666a3/5B16CAE8/t51.2885-19/s150x150/15624543_1637639953197108_7191230723431333888_a.jpg" alt="">
										<figcaption>
											<h5>Titis Pusparini</h5>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="profile-box">
								<a href="https://www.instagram.com/bungifan/?hl=en">
									<figure>
										<img class="img-responsive" src="https://scontent-sin6-1.cdninstagram.com/vp/7709de29d1e4d84fa4be04adccbc9cb4/5B1833E6/t51.2885-19/s150x150/20635179_1493431047381256_6144556715338629120_a.jpg" alt="">
										<figcaption>
											<h5>Muhammad Irfan Ramdhani Majid</h5>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="profile-box">
								<a href="https://www.instagram.com/sherraadiantys/?hl=en">
									<figure>
										<img class="img-responsive" src="https://scontent-sin6-1.cdninstagram.com/vp/126f5d494d6996947607320dc4c723d8/5B1A86B0/t51.2885-19/s150x150/17495218_287205431713778_4531758291956531200_a.jpg" alt="">
										<figcaption>
											<h5>Sherra Adianty Soegianto</h5>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="profile-box">
								<a href="https://www.instagram.com/alsky_klaussadie_s/?hl=en">
									<figure>
										<img class="img-responsive" src="https://scontent-sin6-1.cdninstagram.com/vp/f5c4d08dfbfc3ca58d9d58d9ea419759/5B091CBB/t51.2885-19/s150x150/26181511_782475301950439_4334226887678099456_n.jpg" alt="">
										<figcaption>
											<h5>Alsky Klaussadie Suwardoyo</h5>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="profile-box">
								<a href="https://www.instagram.com/kiwiranto/?hl=en">
									<figure>
										<img class="img-responsive" src="https://scontent-sin6-1.cdninstagram.com/vp/a8771f8398a8e8a1d15d8fb06cc4c002/5B0D64BF/t51.2885-19/s150x150/13151098_275829882756060_1078836910_a.jpg" alt="">
										<figcaption>
											<h5>Wiranto</h5>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="profile-box">
								<a href="https://www.instagram.com/mylafebriana/?hl=en">
									<figure>
										<img class="img-responsive" src="https://scontent-sin6-1.cdninstagram.com/vp/58f036e99b7463cfb89973d1b3ad423a/5B06E6BC/t51.2885-19/s150x150/23100985_499972357043029_3494326589628350464_n.jpg" alt="">
										<figcaption>
											<h5>Mila Febriana Megawati</h5>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="profile-box">
								<a href="https://www.instagram.com/widiwnw/?hl=en">
									<figure>
										<img class="img-responsive" src="https://scontent-sin6-1.cdninstagram.com/vp/7afdfdcd4b917f816bcf19ad9dba43a0/5B0EEC57/t51.2885-19/s150x150/26864523_178194872938407_7253062404064411648_n.jpg" alt="">
										<figcaption>
											<h5>Nurafifah Winadyanata</h5>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="member-notice">
					<h2>Announcement</h2>
					<p>Oiya.. Sayang sekali salah satu keluarga kita ada yg gak bisa ikut yaitu <strong>Febi dan Lita</strong>, dikarenakan Lita sedang hamil dan Febi harus stay disamping istrinya karena sudah mendekati masa kelahiran. Kita doakan semoga kondisinya selalu sehat dan baik-baik aja, diperlancar prosesnya sampai kelahiran sang buah hati. Aamiin..</p>
					<p>Bentar lagi kita bakal punya keponakan baru guys. :)</p>
					<div class="row">
						<div class="col-sm-3 col-xs-6">
							<div class="profile-box">
								<a href="https://www.instagram.com/officialfebi/?hl=en">
									<figure>
										<img class="img-responsive" src="https://scontent-sin6-1.cdninstagram.com/vp/6e36e38e648834ff324676b3b4c99284/5B1072E2/t51.2885-19/s150x150/15877084_253622568402410_555170517812772864_a.jpg" alt="">
										<figcaption>
											<h5>Febi Hediyanto</h5>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
						<div class="col-sm-3 col-xs-6">
							<div class="profile-box">
								<a href="https://www.instagram.com/litaapriy/?hl=en">
									<figure>
										<img class="img-responsive" src="https://scontent-sin6-1.cdninstagram.com/vp/59d2bf5e14f44a73abb72493354bcf6f/5B1C5D17/t51.2885-19/s150x150/26221581_146562452727667_6005282238873206784_n.jpg" alt="">
										<figcaption>
											<h5>Lita Apriyanti</h5>
										</figcaption>
									</figure>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>