<section id="journey" class="style-matcher">
	<div class="container">
		<div class="section-title">
			<h1>Our Journey</h1>	
		</div>

		<div class="section-content">
			<p class="wow fadeInUp">Hai.. Temen-temen apa kabar ? Semoga kalian dalam keadaan baik pas lagi buka web ini. Mungkin kalian sedikit bertanya-tanya apaan nih bikin-bikin web segala. Jangan di close dulu karena ini bukan ujaran kebencian ataupun hoax kesukaan Arif. Huehehe..</p>
			<p class="wow fadeInUp">Kalau gitu izinkan gua menjelaskan sedikit untuk intro, jadi gua mau ngadain event jalan-jalan ke-2 buat <strong>Dongoks Family</strong>, kan yang pertama kita pernah jalan-jalan bareng ke Pulau Pari, nah sekarang gua mau ngadain event jalan-jalan bareng Dongoks Family lagi mengingat banyak request dari kalian semua tapi gak ada yang mau bersuara duluan mungkin takut di read doang. Jadi website ini gua buat sebagai <strong>Invitation</strong> buat kalian dan juga sebagai media gua untuk menjelaskan ke kalian mengenai rencana liburan kali ini.</p>
			<p class="wow fadeInUp">So temen-temen semua, rencananya perjalanan kali ini akan diadakan di bulan <strong>Maret tanggal 30, 31 &amp; 1 April.</strong> Karena itu posisinya di weekend dan hari jumatnya tanggal merah, jadi gua buat rencana di tanggal itu karena waktunya pas buat jalan-jalan. Jadi baca baik-baik supaya kalian paham karena ini gua buat sesederhana mungkin supaya kalian mudah paham. So silahkan scroll ke bawah untuk detailnya :)</p>
			<p class="wow fadeInUp">Ini gua lampirkan kalender bulan maret dan april supaya kalian bisa liat langsung dan gak perlu ngecek dulu.</p>

			<div class="calendar wow bounceInLeft">
				<a class="calendar-popup" href="assets/img/kalender-maret-april.jpg">
					<img class="img-responsive" src="assets/img/kalender-maret-april.jpg" alt="Kalender Bulan Maret & April">
				</a>
			</div>
			<div class="estimasi-biaya">
				<h2>Estimasi Biaya</h2>
				<div class="rincian-biaya">
					<p class="wow fadeInUp">Untuk estimasi biaya sekarang gua masih hitung dengan perhitungan kasar jadi masih belum tau rinciannya seperti apa tapi yg jelas kita akan berat di biaya sewa mobil untuk media transportasi kita nanti karena perjalan ini lebih baik gua sarankan kita mending sewa mobil dari Jakarta biar gampang, mengingat di daerah Kuningan itu susah kendaraan umum. Setelah gua survey berapa sewa mobil perhari rata-rata harganya di kisaran <strong>Rp.400.000 - Rp.500.000 per hari</strong>. Data ini diambil dari <a href="https://andrewscr.id/price-list/">Website ini</a>.</p>
					<p class="wow fadeInUp">Setelah gua hitung untuk biaya patungan sewa mobil + bensin kira-kira perorang bakal kena <strong>Rp.200.000 - Rp.250.000</strong>. Jadi karena perjalanan kita selama <strong>2 hari 3 malam</strong> jadi kita prepare aja uang masing-masing <strong>Rp.500.000</strong> untuk biaya konsumsi dan tambahan lain-lain.</p>
					<p class="wow fadeInUp">Ini masih perhitungan kasar karena cuman berdasarkan analisa gue dan gue perlu ngobrol-ngobrol sama kalian mengenai rencana jalan-jalan ini, mungkin ada alternatif lain yang bisa jadi pertimbangan. So untuk sementara estimasi biayanya segini dulu, kalo udah ngobrol-ngobrol dan ada masukan nanti gue update lagi disini dalam bentuk list atau tabel.</p>
				</div>
			</div>
			<div class="rundown-acara wow bounceInUp" data-wow-offset="10" data-wow-duration="1.5s">
				<h2>Rundown Acara</h2>
				<p>Dibawah rundown acara secara garis besar yg akan kita lakukan ketika liburan, masih gua pikirin nanti mau ngapain aja jadi sementara segini dulu. :D</p>
				<div class="list-date">
					<h3>Jumat, 30 Maret 2018</h3>
					<h3>Sabtu, 31 Maret 2018</h3>
					<h3>Minggu, 1 April 2018</h3>
				</div>
				<div class="list-rundown">
					<div class="day-1">
						<ul>
							<li>
								<div class="row">
									<p class="col-xs-4 waktu">09:00</p>
									<p class="col-xs-8 kegiatan">Berangkat menuju Kuningan</p>
								</div>
							</li>
							<li>
								<div class="row">
									<p class="col-xs-4 waktu">17:00</p>
									<p class="col-xs-8 kegiatan">Sampai tujuan</p>
								</div>
							</li>
							<li>
								<div class="row">
									<p class="col-xs-4 waktu">19:00</p>
									<p class="col-xs-8 kegiatan">Jalan-jalan di taman kota</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="day-2">
						<ul>
							<li>
								<div class="row">
									<p class="col-xs-4 waktu">08:00</p>
									<p class="col-xs-8 kegiatan">Berangkat ke tempat wisata</p>
								</div>
							</li>
							<li>
								<div class="row">
									<p class="col-xs-4 waktu">20:00</p>
									<p class="col-xs-8 kegiatan">Bakar-bakar dan pengakuan dosa.</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="day-3">
						<ul>
							<li>
								<div class="row">
									<p class="col-xs-4 waktu">07:00</p>
									<p class="col-xs-8 kegiatan">Main ke sawah dan sungai</p>
								</div>
							</li>
							<li>
								<div class="row">
									<p class="col-xs-4 waktu">15:00</p>
									<p class="col-xs-8 kegiatan">Pulang Ke Jakarta</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>		
	</div>
</section>