
@@include('../Shared/header.html', {
        "style": [
            "assets/css/Pages/pages.css"
        ]
})



<!-- <section class="main-content"> -->
    @@include('../Components/section-intro.html')

    @@include('../Components/section-journey.html')

    @@include('../Components/section-destination.html')

    @@include('../Components/section-member.html')

    @@include('../Components/section-closing.html')

    <div class="top-control">
        <a href="#intro" class="page-scroll">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
<!-- </section> -->



@@include('../Shared/footer.html', {
        "script": [
            "assets/js/Includes/homepage.js"
        ]
})